body {
    font-family: 'Nokora', serif;
    line-height: 1.8;
    color: #f5f6f7;
    font-size: 20px;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background: orange;
    color: black;
    height: 100vh;
    width: 99vw;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 30px;
    padding-bottom: 70px;
  }
  .navbar {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
  }
  .navbar-nav  li a:hover {
    color: orange !important;
  }
  .heading-h3{
      font-size: 34px;
  }
  .form-register{
      background: white;
      padding: 20px;
      border: 1px solid rgb(207, 204, 204);
  }
  .btn-fluid{
      background: orange;
      width: 100%;
      color: white;
      padding: 15px 0px;
  }
  .btn-fluid-fb{
      background: blue;
      color: white;
      width: 100%;
      padding: 15px 0px;
  }

  .text-input{
      padding: 25px 15px;
  }


  .phone-box{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #dadada;
    padding: 18px 9px;
  }
  



@media (max-width: 768px) {
  .responsive-img{
      display: none !important;    
}
  }