/* 
 .mn-btn-register{
     margin: 0 auto;
 }
 body .form-horizontal{
    font-family: 'Suwannaphum';
 }
 .container-fluid {
     width: 80%!important;
}
.container {
    width: 80%!important;
}
.my-magin{
    margin-top: 20px;
    margin-bottom: 30px;
}
.re-border{
    border: 2px solid #eee!important;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
@media (min-width: 1200px){
    container {
        width: 1170px;
    }
}

@media (min-width: 992px){
.container {
    width: 970px;
}
}

@media (max-width: 768px){
    .container {
        width: 95%!important;
    }
    .container-fluid {
        width: 90%!important;
   }
}

  */